# =====================
# Python
# =====================
__pycache__/
*.pyc

# =====================
# Virtual Environments
# =====================
.venv/
venv/
.env

# =====================
# Data & Models (CV)
# =====================
data/
models/
*.pt
*.pth
*.weights

# =====================
# OS / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
