# =====================
# Python
# =====================
__pycache__/
*.pyc

# =====================
# Virtual Environments
# =====================
.venv/
venv/
.env

# =====================
# Data & Models (CV)
# =====================


# =====================
# OS / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
#downloading dataset
# =====================
runtime/
kaggle.json
.env
.env.*

# =====================
#run scripts
# =====================
*.bat
